<div class="gossip">
  <h2><%= @user.name %> </h2>
  <h3>Ville: <%= @user.city.name %> </h3>
  <h3>Description: <%= @user.description %> </h3>
  <%= link_to "Voir la ville", city_path(@user.city.id) %>

</div>