<div class="gossip">
  <h2><%= @user.name %> </h2>
  <h3>Ville: <%= @user.city.name %> </h3>
  <p>Description: <%= @user.description %> </p>
  <%= link_to "Voir la ville de " + @user.name, city_path(@user.city.id), class: "btn btn-outline-light p-2 m-2" %>

</div>