<h1>Bienvenu sur la page d'acceuil :-]</h1></br></br>


<h3> Voici la liste de tous les gossips connus de la base de données :</h3></br>
<div class="gossips_array">
  <% @gossips.each do |g| %>
    <div class="gossip">
      <h3><%= g.user.name %></h3>
      <p><%= g.title %></p>
    </div>
  <% end %>
</div>