<div class="list-group w-50 mx-auto">
  <% @gossips.reverse_each do |g| %>
    <a href="<%=gossip_path(g.id)%>" class="list-group-item list-group-item-action bg-light">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= g.title %></h5>
        <small><%= g.user.name %></small>
      </div>
      <small><%= g.content %></small>
    </a>
  <% end %>
</div>