<div class="list-group w-75 mx-auto">
  <% @gossips.reverse_each do |g| %>
    <a href="<%=gossip_path(g.id)%>" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-4"><%= g.title %></h5>
        <small><%= g.user.name + ' | ' + g.user.city.name %></small>
      </div>
      <small class="text-muted"><%= g.content %></small>
    </a>
  <% end %>
</div>