<div class="city">
  <h3> <%= @city.name %> </h3>
  <p>Pas grand chose à dire sur cette ville pour l'instant, mais essayez de revenir plus tard :-)</p>
</div>

<section>  <%= link_to "ReToUr aUx PoTiNs", root_path, class:"btn btn-outline-dark" %> </section>
