<div class="city">
  <h3> <%= @city.name %> </h3>
  <p>Cette page possède à l'heure actuelle une existence des plus discutables. </p>
</div>

<section>  <%= link_to "ReToUr aUx PoTiNs", root_path, class:"btn btn-outline-dark" %> </section>
